body{
     background-color:hsl(212, 45%, 89%);
    } 
    

    
   


.appContainer{
    text-align: center;
    background-color: white;
    padding: 20px;
    width: 18%;
    max-width: 100%;
    margin-left: 600px;
    
    margin-top: 200px;
    border-radius: 10px;
    font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;




    
   
    
    

}


img{
    border-radius: 10px;
 
}
h2{
    color: hsl(218, 44%, 22%);
}
p{
    font-size: 15px;
    font-weight: 400;
    color: hsl(216, 15%, 48%);
    
}